[Email]
EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD = 
FROM_ALIAS = 

[AWS]
AWS_ACCESS_KEY = 
AWS_SECRET_ACCESS_KEY = 
GERMINATION_QUEUE_URL = 
GERMINATION_DLQ_QUEUE_URL =  


PLANET_IMAGERY_QUEUE_URL = 

[PLANET]
API_KEY = 
SEARCH_ITEM_URL = 
ORDER_URL = 
